<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragment/fragment :: fragment (~{::body},'pedido')}">

<body>
<div class="bg-one" style="height: 7rem"></div>
<div class="container" style="margin-top: -80px">
    <div class="electroplus__cabecera mt-2" style="background-color: #E4F7FB !important;">

        <div class="d-flex justify-content-around align-items-center">

            <div class="px-3 text-center">
                <label class="electroplus__cabecera_title text-one">PEDIDOS</label>
            </div>

            <div>
                <img src="/image/pedido.png" alt="image_contacto"style="margin-top: -8px" width="130"
                height="130">
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead class="table-info">
            <tr>
                <th scope="col">Numero de Orden</th>
                <th scope="col">Fecha</th>
                <th scope="col">Total</th>   
                <th scope="col">Detalle de Pedido</th>             
            </tr>
            </thead>
            <tbody>
            <tr th:each="pedido : ${pedidos}">
                <td th:text="${pedido.id}"></td>
                <td th:text="${pedido.orderDate}"></td>
                <td th:text="${pedido.montoTotal}"></td>
                <td>
                <a class="btn btn-primary btn-block"  style="margin-top: -8px" th:href="@{'/pedido/view/__${pedido.id}__'}">
                Ver
                </a>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>