<!DOCTYPE html>
<html
   xmlns:th="https://www.thymeleaf.org"
   th:replace="~{fragment/fragment :: fragment (~{::body},'formulario')}"
>
   <body>
      <div class="bg-one" style="height: 7rem"></div>
      <div class="container" style="margin-top: -80px">
         <div class="electroplus__cabecera mt-2" style="background-color: #e4f7fb !important">
            <div class="d-flex justify-content-around align-items-center">
               <div class="px-3 text-center">
                  <label class="electroplus__cabecera_title text-one" th:text="${titulo}"></label>
               </div>
               <div>
                  <img th:src="@{/image/actualizar.png}" alt="image_catalogo" style="margin-top: -8px" width="130"
                  height="130"/>
               </div>
            </div>
         </div>
         <div class="py-4">
            <form id="enviar-email" th:object="${producto}" th:action="@{/producto/registrar}" method="POST">
               <input type="hidden" th:field="${producto.id}" />
               <input type="hidden" th:field="${producto.nombreimagen}" id="nombreimagen" />
               <input type="hidden" th:field="${producto.imagen}" id="foto" />
               <div class="row">
                  <div class="col-12 col-sm-6">
                     <div class="form-group">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input
                           type="text"
                           th:field="${producto.nombre}"
                           required
                           class="form-control"
                           id="nombre"
                        />
                     </div>
                  </div>

                  <div class="col-12 col-sm-6">
                     <div class="form-group">
                        <label for="precio" class="form-label">Precio</label>
                        <input
                           type="text"
                           onkeypress="return numberDecimal(event, 10, 2, false)"
                           th:field="${producto.precio}"
                           required
                           class="form-control"
                           id="precio"
                        />
                     </div>
                  </div>

                  <div class="col-12 col-sm-6">
                     <div class="form-group">
                        <label for="descuento" class="form-label">Precio Descuento</label>
                        <input
                           type="text"
                           onkeypress="return numberDecimal(event, 10, 2, false)"
                           th:field="${producto.descuento}"
                           required
                           class="form-control"
                           id="descuento"
                        />
                     </div>
                  </div>

                  <div class="col-12 col-sm-6">
                     <div class="form-group">
                        <label for="foto" class="form-label">Seleccionar imagen</label>
                        <div class="custom-file">
                           <input
                              type="file"
                              class="custom-file-input"
                              accept=".jpg,.jpeg"
                              onchange="getImage(event.target)"
                           />
                           <label
                              class="custom-file-label"
                              id="labelfoto"
                              th:text="${producto.nombreimagen}"
                           ></label>
                        </div>
                     </div>
                  </div>

                  <div class="col-12 col-sm-6">
                     <div class="form-group">
                        <label for="foto" class="form-label">Visualizar Imagen</label>
                        <div class="d-flex justify-content-center">
                           <div class="card m-0">
                              <img
                                 th:src="${producto.imagen}"
                                 id="preview"
                                 class="card-img-top"
                                 style="width: 14rem !important"
                              />
                           </div>
                        </div>
                     </div>
                  </div>

                  <div class="col-12 col-sm-6">
                     <div class="form-group">
                        <label for="descripcion" class="form-label">Descripción</label>
                        <textarea
                           class="form-control"
                           th:field="${producto.descripcion}"
                           required
                           id="descripcion"
                           rows="4"
                        >
                        </textarea>
                     </div>

                     <div class="form-group">
                        <label for="categoria" class="form-label">Categoría</label>
                        <select class="form-control" th:field="${producto.categoria}" required id="categoria">
                           <option th:each="categoria : ${categorias}" th:value="${categoria.id}">
                              <span th:text="${categoria.descripcion}"></span>
                           </option>
                        </select>
                     </div>
                  </div>

                  <div class="col-12">
                     <button
                        id="btn__registrar"
                        type="submit"
                        class="btn btn-primary btn-block"
                        th:text="${titulo}"
                     ></button>
                  </div>
               </div>
            </form>
         </div>
      </div>
      <script>
         // Variables
         const btnRegistrar = document.querySelector('#btn__registrar');
         const formulario = document.querySelector('#enviar-email');

         // Variables para campos
         const nombre = document.querySelector('#nombre');
         const precio = document.querySelector('#precio');
         const descuento = document.querySelector('#descuento');

         eventListeners();
         function eventListeners() {
            // Cuando la app arranca
            document.addEventListener('DOMContentLoaded', iniciarApp);

            // Campos del formulario
            nombre.addEventListener('blur', validarFormulario);
            precio.addEventListener('blur', validarFormulario);
            descuento.addEventListener('blur', validarFormulario);
         }

         // Funciones
         function iniciarApp() {
            btnRegistrar.disabled = true;
         }

         // Valida el formulario
         function validarFormulario(e) {
            if (e.target.value.length > 0) {
               // Elimina los errores...
               const error = document.querySelector('p.error');
               if (error) {
                  error.remove();
               }

               e.target.classList.remove('is-invalid');
               e.target.classList.add('is-valid');
            } else {
               e.target.classList.remove('is-valid');
               e.target.classList.add('is-invalid');
               mostrarError('Todos los campos son obligatorios');
            }

            if (nombre.value !== '' && precio.value !== '' && descuento.value !== '') {
               btnRegistrar.disabled = false;
            } else {
               btnRegistrar.disabled = true;
            }
         }

         function mostrarError(mensaje) {
            const mensajeError = document.createElement('p');
            mensajeError.textContent = mensaje;
            mensajeError.classList.add(
               'm-3',
               'border',
               'border-danger',
               'bg-danger',
               'text-danger',
               'p-3',
               'error'
            );

            const errores = document.querySelectorAll('.error');
            if (errores.length == 0) {
               formulario.appendChild(mensajeError);
            }
         }
      </script>
   </body>
</html>
