<!DOCTYPE HTML>
<html lang="en">

<head th:replace="fragments :: html_head"></head>

<body class="electroplus">
	<main class="h-100">
		<div th:replace="fragments :: header"></div>
		<div class="bg-one" style="height: 7rem"></div>
		<div class="container" style="margin-top: -80px">
			
			<div class="electroplus__cabecera mt-2" style="background-color: #E4F7FB !important;">
				<div class="d-flex justify-content-around align-items-center">
					
					<div class="px-3 text-center">
						<label class="electroplus__cabecera_title text-one" th:text="${titulo}"></label>
					</div>
					<div>
						<img th:src="@{/image/registrar.svg}" alt="image_catalogo" style="margin-top: -8px">
					</div>
				</div>
			</div>
			<div class="py-4">
				<form  th:action="@{/clientes/save}" th:object="${cliente}" method="POST">
					<div class="row">
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<input type="hidden" th:field="*{id}">
								<label for="nombre" class="form-label">Nombre</label>
								<input type="text" th:field="*{nombre}" class="form-control" id="nombre"
									placeholder="Nombre del cliente">
							</div>
						</div>
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label for="apellidos" class="form-label">Apellidos</label>
								<input type="text" th:field="*{apellidos}" class="form-control" id="apellidos"
									placeholder="Apellidos del cliente">
							</div>
						</div>
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label for="email" class="form-label">Email</label>
								<input type="text" th:field="*{email} " class="form-control" id="email"
									placeholder="Email del cliente">
							</div>
						</div>
						<div class="col-12 col-sm-6">
							<div class="form-group">
								<label for="contrasena" class="form-label">Contraseña</label>
								<input type="password" th:field="*{contrasena} " class="form-control" id="contrasena"
									placeholder="Contraseña del cliente">
							</div>
						</div>
						<div class="col-12">
							<input type="submit" class="btn btn-primary btn-block" value="Guardar">
                         </div>
				</form>
			</div>
		</div>
		<footer th:replace="fragments :: footer"></footer>
	</main>
</body>

</html>